html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
img {
    display: block;
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}
.sidenav-trigger {
    display: none;
}
.nav_h4 {
    color: #2F2E2E;
    font-family: 'Barlow',sans-serif;
    font-size: 42px;
    font-weight: 600;
}
.nav_flex {
    display: flex;
    justify-content: space-between;
    padding: 49px 98px 0 95px;
}
.nav_flex-wrap {
    display: flex;
    justify-content: space-between;
    width: 679px;
}
.nav_flex-list {
    display: flex;
    justify-content: space-between;
    width: 588px;
}
.nav_flex-list li a{
    color: #2F2E2E;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    list-style: none;
}
.nav_flex-list .active{
    font-weight: 700;
}
.nav_search {
    display: inline-block;
    height: 50px;
    position: relative;
    padding: 0 0 0 0;
    margin: 0px 0 0 34px;
}
.nav_form-search {
    display: inline-block;
    height: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 400;
    border: none;
    outline: none;
    color: #2F2E2E;
    width: 0px;
    position: absolute;
    right: 0;
    background: none;
    z-index: 3;
    cursor: pointer;
    margin: 19px 0 0 0;
    padding: 0 20px 0 0;
}
.nav_form-search:focus {
    width: 400px;
    border: solid 1px #252323;
    background-color: white;
    z-index: 1;
    cursor: text;
    position: absolute;
    top: -15px;
    margin-right: 50px;
}
.nav_btn {
    display: inline-block;
    width: 25px;
    position: absolute;
    border: none;
    right: 0;
    z-index: 2;
    cursor: pointer;
    margin: 19px 0 0 0;
    padding: 0 0 0 0;
}
.header {
    padding: 79px 0 0 0;
}
.header_img {
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 0 auto;
}
.header_img-gradient {
    width: 691px;
    height: 550px;
    background: linear-gradient(91deg, rgba(244, 246, 245, 0.90) 0%, rgba(255, 255, 255, 0.90) 100%);
    position: absolute;
    top: 283px;
    right: 52%;
}
.header_h2 {
    color: #2F2E2E;
    font-family: 'Playfair Display', sans-serif;
    font-size: 51px;
    font-weight: 900;
    line-height: normal;
    margin: 138px 57px 12px 99px;
}
.header_p {
    color: #2F2E2E;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 200;
    line-height: 1.32;
    font-style: normal;
    margin: 0 42px 0 99px;
}
.services {
    min-height: 384px;
    background: rgba(37, 77, 77, 0.20);
}
.services_h2 {
    color: #2F2E2E;
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 51px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding: 15px 0 0 0;
}
.services_flex {
    display: flex;
    justify-content: space-between;
    padding: 45px 178px 0 178px;
}
.services_flex-item {
    text-align: center;
}
.services_img {
    margin: 0 auto;
}
.services_h4 {
    color: #2F2E2E;
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0 0 10px 0;
}
.services_p {
    color: #2F2E2E;
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 158px;
}
.about_flex {
    display: flex;
    padding: 75px 0 0 0;
}
.about_img {
    padding: 0 85px 0 100px;
}
.about_text {
    width: 456px;
}
.about_h2 {
    color: #2F2E2E;
    font-family: 'Playfair Display', serif;
    font-size: 51px;
    font-weight: 900;
    margin: 0 0 28px 0;
    padding: 72px 0 0 2px;
}
.about_p {
    color: #2F2E2E;
    font-family: 'Playfair Display', serif;
    font-size: 31px;
    font-weight: 400;
    line-height: 1.6;
    margin: 0 0 32px 0;
}
.about_a {
    color: #2F2E2E;
    font-family: 'Inter', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.projects {
    padding: 95px 0 0 37px;
}
.projects_h2 {
    color: #2F2E2E;
    font-family: 'Playfair Display', serif;
    font-size: 51px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding: 0 0 0 63px;
}
.projects_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 72px 64px 0 63px;
    column-gap: 68px;
    row-gap: 85px;
}
.projects_img {
    margin: 0 0 13px 0;
}
.projects_p {
    color: #2F2E2E;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 178px;
    margin: 0 0 0 84px;
}
.testimonial {
    padding: 88px 0 0 0;
    margin: 0 0 148px 0;
}
.testimonial_h2 {
    color: #000;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 51px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.testimonial_flex {
    display: flex;
    padding: 80px 20px 0 98px;
}
.testimonial_flex-item {
    display: flex;
}
.testimonial_img {
}
.testimonial_flex-text {
    padding: 11px 0 0 29px;
}
.testimonial_h4 {
    color: #2F2E2E;
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 18px 0;
}
.testimonial_p {
    color: #2F2E2E;
    font-family: 'Playfair Display', serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 307px;
}
.testimonial_flex .testimonial_flex-item:last-child img {
    padding: 0 0 0 131px;
}
.testimonial_flex .testimonial_flex-item:last-child .testimonial_flex-text {
    padding: 11px 0 0 20px;
}
.footer {
    min-height: 369px;
    background: #2E2F32;
}
.footer_flex {
    display: flex;
    justify-content: start;
    padding: 48px 20px 0 98px;
}
.footer_flex-item:nth-child(2) {
    margin: 0 0 0 141px;
}
.footer_flex-item:nth-child(3) {
    margin: 0 0 0 323px;
}
.footer_h3 {
    color: #FAFAFA;
    font-family: 'Barlow', serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 0 6px 0;
}
.footer_p {
    color: #FAFAFA;
    font-family: 'Inter', serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; 
    width: 287px;
}
.footer_flex-img {
    display: flex;
    justify-content: space-between;
    padding: 43px 140px 0 0;
}
.footer_h4 {
    color: #FAFAFA;
    font-family: 'Inter', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding: 9px 0 0 0;
    margin: 0 0 19px 0;
}
.footer_h4:nth-child(1) {
    margin: 0 0 17px 0;
}
.articles {
    color: #FAFAFA;
    font-family: 'Inter', serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; 
}
.articles:nth-child(2) {
    margin: 0 0 8px 0;
}
.articles:nth-child(3) {
    margin: 0 0 7px 0;
}
@media screen and (max-width: 1400px) {
    .header_img-gradient {
        right: 50%;
    }
    .about_img {
        width: 800px;
        padding: 0 70px 0 100px;
    }
    .testimonial_img {
        align-self: center;
    }
    .footer_flex {
    display: flex;
    justify-content: space-between;
    padding: 48px 60px 0 60px;
    }
    .footer_flex-item:nth-child(2) {
        margin: 0 0 0 0px;
    }
    .footer_flex-item:nth-child(3) {
        margin: 0 0 0 0px;
    }
}
@media screen and (max-width: 1385px) {
    .header_img-gradient {
        width: 600px;
        height: 500px;
        top: 283px;
        right: 52%;
    }
    .testimonial_flex .testimonial_flex-item:last-child img {
        padding: 0 0 0 50px;
    }
}
@media screen and (max-width: 1300px) {
    .nav_flex-wrap {
        width: 500px;
    }
    .about_img {
        width: 700px;
    }
}
@media screen and (max-width: 1255px) {
    .header_img-gradient {
        width: 500px;
        height: 400px;
        right: 60%;
    }
    .header_h2 {
        font-size: 46px;
        margin: 67px 57px 12px 99px;
    }
    .header_p {
        font-size: 28px;
        line-height: normal;
    }
    .about_h2 {
        font-size: 46px;
        margin: 0 0 28px 0;
        padding: 30px 0 0 2px;
    }
    .about_p {
        font-size: 26px;
        line-height: normal;
        padding: 0 20px 0 0;
    }
    .testimonial_flex {
        justify-content: space-between;
        padding: 80px 0 0 0;
    }
    .testimonial_flex-item {
        flex-direction: column;
    }
    .testimonial_flex .testimonial_flex-item:last-child img {
        padding: 0 0 0 0px;
    }
    .testimonial_flex .testimonial_flex-item:last-child .testimonial_flex-text {
        padding: 0px 0 0 0px;
    }
    .testimonial_flex-item {
        width:100%;
    }
    .testimonial_p {
        width: 100%;
        text-align: center;
    }
    .testimonial_flex-text {
        padding: 0px 0 0 0px;
        margin: 0 auto;
    }
    .testimonial_h4 {
        text-align: center;
    }
}
@media screen and (max-width: 1140px) {
    .header_img-gradient {
        width: 500px;
        height: 400px;
        transform: translateX(30%);
    }
    .services_flex {
        padding: 35px 80px 0 80px;
    }
    .projects {
            padding: 95px 0 0 0px;
        }
    .projects_grid {
        column-gap: 50px;
        row-gap: 50px;
    }    
    .projects_h2 {
        text-align: center;
        padding: 0 0 0 0;
    }
}
@media screen and (max-width: 1045px) {
    .about_img {
        width: 600px;
    }
    .projects_grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .projects_grid-item {
        margin: 0 auto;
    }
    .testimonial_flex {
        flex-direction: column;
        padding: 30px 0 0 0;
    }
    .testimonial_flex-item {
        margin: 0 0 40px 0;
    }
    .testimonial { 
        margin: 0 0 0 0;
    }
    .footer_flex {
        flex-direction: column;
        text-align: center;
    }
    .footer_flex-item {
        margin: 0 0 20px 0;
        width: 100%;
    }
    .footer_flex-item:nth-child(2) {
        margin: 0 0 20px 0;
    }
    .footer_flex-item:nth-child(3) {
        margin: 0 0 0 0;
    }
    .footer_flex-img {
        padding: 20px 70px 0 70px;
    }
    .footer p {
        width: 100%;
    }
}
@media screen and (max-width: 900px) {
    .nav_flex-wrap {
        display: none;
    }
    .sidenav-trigger {
        display: block;
        color: #2F2E2E;
        margin: 5px 0 0 0;
    }
    .nav_flex {
        padding: 35px 50px 0 50px;
    }
    .material-icons {
        font-size: 40px;
    }
    .nav_form-search {
        margin: 48px 20px 0 34px;
    }
    .sidenav {
        width: 500px;
    }
    .logo {
        color: #2F2E2E;;
        font-family: 'Barlow', sans-serif;
        font-size: 50px;
        margin: 30px 0 30px 30px;
    }
    .sidenav .divider {
        background-color: rgb(117, 146, 192);
        width: 90%;
        margin: 8px 0 20px 20px;
    }
    .sidenav .waves-effect {
        color: #2F2E2E;;
        font-family: 'Inter', sans-serif;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 15px;
        -webkit-tap-highlight-color: rgb(117, 146, 192);
    }
    .li_flex {
        display: flex;
        justify-content: space-between;
        padding: 24px 24px 20px 24px;
    }
    .sidenav .sidenav-close {
        padding: 0;
    }
    .header_h2 {
        font-size: 40px;
        margin: 67px 57px 12px 99px;
    }
    .header_p {
        font-size: 24px;
        line-height: normal;
        margin: 0 42px 0 99px;
    }
    .header_img-gradient {
        height: 330px;
    }
    .header_img-gradient {
        transform: translateX(40%);
    }
    .about_flex {
        display: flex;
        flex-direction: column;
        padding: 75px 0 0 0;
    }
    .about_img {
        width: 100%;
        padding: 0 0 0 0;
    }
    .about_text {
        width: 100%;
        text-align: center;
        padding: 0 23px 0 23px;
    }
    .about_p {
        padding: 0 0 0 0;
    }
}
@media screen and (max-width: 750px) {
    .header_img-gradient {
        width: 400px;
        height: 270px;
    }
    .header_h2 {
        font-size: 36px;
        margin: 40px 57px 12px 70px;
    }
    .header_p {
        font-size: 20px;
        margin: 0 42px 0 70px;
    }
    .services_flex {
        display: flex;
        flex-direction: column;
    }
    .services_h4 {
        margin: 0 auto;
    }
    .services_p {
        margin: 0 auto;
        max-width:100%;
    }
    .services_flex-item {
        margin: 0 0 35px 0;
    }
    .projects_h2 {
        font-size: 46px;
    }
    .projects_grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 600px) {
    .sidenav {
        width: 400px;
    }
    .nav_h4 {
        font-size: 36px;
    }
    .header_img-gradient {
        width: 300px;
        height: 230px;
    }
    .header_h2 {
        font-size: 24px;
        margin: 40px 57px 12px 50px;
    }
    .header_p {
        font-size: 16px;
        margin: 0 42px 0 50px;
    }
    .header_img-gradient {
        top: 230px;
    }
    .testimonial_h2 {
        font-size: 38px;
    }
    .testimonial_flex-text {
        padding: 0px 20px 0 20px;
    }
}
@media screen and (max-width: 490px) {
    .nav_h4 {
        font-size: 32px;
    }
    .nav_flex {
        padding: 35px 30px 0 30px;
    }
    .header_img-gradient {
        width: 250px;
        height: 190px;
    }
    .header_h2 {
        font-size: 20px;
        margin: 40px 57px 12px 50px;
    }
    .services_h4 {
        margin: 0 auto;
    }
    .header_p {
        font-size: 12px;
        margin: 0 42px 0 50px;
    }
    .services_h2 {
        font-size: 42px;
    }
    .about_h2 {
        font-size: 42px;
    }
    .about_p {
        font-size: 24px;
    }
    .projects_p {
        margin: 0 auto;
    }
    .projects_h2 {
        font-size: 42px;
    }
}  
@media screen and (max-width: 400px) {
    .sidenav {
        width: 100%;
    }
    .logo {
        font-size: 40px;
        margin: 0 0 0 0;
    }
    .sidenav .waves-effect {
        font-size: 18px;
    }
    .header_img-gradient {
        width: 200px;
        height: 150px;
    }
    .header_h2 {
        font-size: 18px;
        margin: 20px 20px 12px 20px;
    }
    .header_p {
        font-size: 12px;
        margin: 0 20px 0 20px;
    }
}  
@media screen and (max-width: 300px) {
    .logo {
        font-size: 30px;
    }
    .projects_h2 {
        font-size: 38px;
    }
}